In [2]:
import pandas as pd

In [5]:
list_columns = ['a','b']
list_values = [[1,2,3,4],[5,6,7,8]]

In [6]:
zipped = list(zip(list_columns, list_values))

In [7]:
zipped

[('a', [1, 2, 3, 4]), ('b', [5, 6, 7, 8])]

In [8]:
data = dict(zipped)

In [9]:
df = pd.DataFrame(data)

In [10]:
df

   a  b
0  1  5
1  2  6
2  3  7
3  4  8